{
    "htmlWhitespaceSensitivity": "css",
    "requirePragma": false,
    "arrowParens": "always",
    "jsxBracketSameLine": true,
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "insertPragma": false,
    "printWidth": 80,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "semi": true,
    "singleAttributePerLine": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "useTabs": false,
    "bracketSameLine": true
  }