$colors: (
    primary: (
        400: hsl(0, 0%, 50%),
    ),
    accent: (
        400: hsl(0, 0%, 50%),
    ),
    neutral: (
        400: hsl(0, 0%, 50%),
    ),
);

$colors-hsl: (
    primary: (
        400: "0, 0%, 50%",
    ),
    accent: (
        400: "0, 0%, 50%",
    ),
    neutral: (
        400: "0, 0%, 50%",
    ),
);
