$colors: (
  primary: (
    mercury: hsl(194, 48%, 49%),
    venus: hsl(33, 82%, 61%),
    earth: hsl(263, 67%, 51%),
    mars: hsl(10, 63%, 51%),
    jupiter: hsl(2, 68%, 53%),
    saturn: hsl(17, 73%, 46%),
    uranus: hsl(169, 73%, 44%),
    neptune: hsl(222, 87%, 56%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    400: hsl(240, 6%, 54%),
    700: hsl(240, 17%, 26%),
    800: hsl(240, 67%, 8%),
  ),
);

$colors-hsl: (
  primary: (
    mercury: '194, 48%, 49%',
    venus: '33, 82%, 61%',
    earth: '263, 67%, 51%',
    mars: '10, 63%, 51%',
    jupiter: '2, 68%, 53%',
    saturn: '17, 73%, 46%',
    uranus: '169, 73%, 44%',
    neptune: '222, 87%, 56%',
  ),
  neutral: (
    100: '0, 0%, 100%',
    400: '240, 6%, 54%',
    700: '240, 17%, 26%',
    800: '240, 67%, 8%',
  ),
);
