$type-scale: (
  small: (
    stats: 2.5rem,
    stats-ribbon: 0 5rem,
    nav: 0.9375rem,
    button: 0.5625rem,
    body: 0.6875rem,
    title: 2.5rem,
  ),
  medium: (
    stats: 1.5rem,
    stats-ribbon: 0.5rem,
    nav: 0.6875rem,
    button: 0.5625rem,
    body: 0.6875rem,
    title: 3rem,
  ),
  large: (
    stats: 1.25rem,
    stats-ribbon: 0.6875rem,
    nav: 0.6875rem,
    button: 0.75rem,
    body: 0.875rem,
    title: 5rem,
  ),
);
